$green: #41b913;
$blue: #38a4d4;

@import "partials/setup";
@import "partials/fonts";

.discoverPlants {
	// border: 2px solid blue;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sectionOne {
	// border: 2px solid red;
	display: flex;
	height: auto;
	width: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.plantContainer,
.speciesContainer {
	display: flex;
	// border: 2px solid red;
}

.infoContainer {
	// border: 2px solid blue;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.imageContainer {
	// border: 2px solid red;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 300px;
}

.imageContainer img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	object-position: center;
	border-radius: 40px;
	text-align: center;
	line-height: 50px;
}

.descriptionContainer {
	// border: 2px solid yellow;
	width: 300px;

	ul {
		list-style-type: none;
		padding-left: 25px;
		padding-right: 25px;

		li {
			padding-top: 5px;
			
		}
	}
}

.buttons {
	// border: 2px solid yellow;
	width: 70%;
	display: flex;
	justify-content: space-between;
}

.button {
	width: 200px;
	margin-top: 25px;
	height: 50px;
	border: none;
	background-color: $green;
	border-radius: 7px;
	@include mainFont(1.2rem);

	&:hover {
		border: 2px solid $blue;
		color: $blue;
		background: white;
	}
	&:active {
		transform: scale(0.99);
	}
}

.title {
	@include infoTitles(1rem);
}
