$green: #41b913;
$blue: #38a4d4;

@import "partials/setup";
@import "partials/fonts";

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	background-color: rgb(233, 247, 229);
}

header {
	height: 100vh;
	min-height: 700px;
	background: $green;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.headerContent {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}

	h1 {
		margin: 0;
		padding: 0;
		@include heading(3rem);
	}

	p {
		@include mainFont(1.5rem);
		color: white;
		padding: 10px;
		margin: 0;
	}

	.fab {
		position: absolute;
		bottom: -150px;
		left: 48%;
		font-size: 3rem;
		color: white;
		animation: floating 3s infinite ease-in-out;
		cursor: pointer;

		&:hover {
			color: #63eb2e;
		}
	}

	.fa-caret-down {
		position: absolute;
		bottom: -175px;
		font-size: 1.5rem;
		color: white;
		animation: floatingArrow 3s infinite ease-in-out;
	}
}

h2 {
	padding-left: 25px;
	@include mainFont(1.5rem);
	color: $green;
	font-weight: bold;
	text-decoration: underline $green;
}
.discoverPlants {
	// border: 2px solid blue;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 500px;
}

.sectionOne {
	// border: 2px solid red;
	display: flex;
	height: auto;
	width: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.plantContainer,
.speciesContainer {
	display: flex;
}

.infoContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.imageContainer {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	width: 300px;
	height: 300px;
}

.imageContainer img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	object-position: center;
	border-radius: 40px;
	text-align: center;
	line-height: 50px;
	box-shadow: 5px 1px 37px -11px rgba(0, 0, 0, 0.47);
}

.descriptionContainer {
	width: 300px;

	ul {
		list-style-type: none;
		padding-left: 25px;
		padding-right: 25px;

		li {
			padding-top: 5px;
		}
	}
}

.buttons {
	width: 70%;
	display: flex;
	justify-content: space-between;
}

.button {
	width: 200px;
	margin-top: 25px;
	height: 50px;
	border: none;
	background-color: $green;
	border-radius: 7px;
	@include heading(1.2rem);
	cursor: pointer;

	&:hover {
		border: 2px solid $blue;
		color: $blue;
		background: white;
	}
	&:active {
		transform: scale(0.99);
	}

	i {
		padding-right: 10px;
	}
}

.title {
	@include infoTitles(1rem);
}

footer {
	width: 100%;
	height: 50px;
	background-color: $blue;
	text-align: center;
	color: white;
	font-family: "Source Sans Pro", sans-serif;
}

@keyframes floating {
	0% {
		transform: translateY(0px) rotate(13deg);
	}

	50% {
		transform: translateY(10px) rotate(13deg);
	}

	50% {
		transform: translateY(-10px) rotate(13deg);
	}

	100% {
		transform: translateY(0) rotate(13deg);
	}
}

@keyframes floatingArrow {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(10px);
	}

	50% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0);
	}
}

@media (max-width: 1215px) {
	h1 {
		text-align: center;
	}
	.plantContainer {
		display: flex;
		margin-bottom: 50px;
	}

	.discoverPlants {
		// border: 2px solid blue;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 900px;
	}
}

@media (max-width: 700px) {
	.descriptionContainer {
		text-align: center;
		width: 320px;
		h2 {
			text-align: center;
			padding: 0;
		}
	}
	header {
		justify-content: center;
	}

	.headerContent {
		h1 {
			width: 175px;
		}
	}

	.plantContainer,
	.speciesContainer {
		flex-direction: column;
	}

	.sectionOne {
		flex-direction: column;
		margin: 50px 0;
	}

	.discoverPlants {
		height: auto;
	}

	.headerContent {
		.fab {
			position: absolute;
			bottom: -125px;
			left: 48%;
			font-size: 3rem;
			color: white;
			animation: floating 3s infinite ease-in-out;
			cursor: pointer;

			&:hover {
				color: #63eb2e;
			}
		}

		.fa-caret-down {
			position: absolute;
			bottom: -150px;
			font-size: 1.5rem;
			color: white;
			animation: floatingArrow 3s infinite ease-in-out;
		}
	}
}

@media (max-width: 550px) {
	header {
		min-height: 400px;
	}

	footer {
		font-size: 0.8rem;
		p {
			margin-top: 17px;
		}
	}
}

@media (max-height: 675px) {
	header {
		justify-content: flex-start;
	}

	.headerContent {
		margin-top: 50px;

		.fab {
			position: absolute;
			bottom: -125px;
			left: 48%;
			font-size: 3rem;
			color: white;
			animation: floating 3s infinite ease-in-out;
			cursor: pointer;

			&:hover {
				color: #63eb2e;
			}
		}

		.fa-caret-down {
			position: absolute;
			bottom: -150px;
			font-size: 1.5rem;
			color: white;
			animation: floatingArrow 3s infinite ease-in-out;
		}
	}
}
